*~
*.gschema.valid
*.la
*.lo
*.o
*.gmo
*.policy
.deps
.libs
Makefile
Makefile.in
Makefile.in.in
org.xfce.mousepad*.desktop
org.xfce.mousepad.appdata.xml
aclocal.m4
autom4te.cache/
ABOUT-NLS
ChangeLog
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
m4/*.m4
!m4/mousepad-plugin-gspell.m4
!m4/mousepad-plugin-shortcuts.m4
!m4/mousepad-plugin-skeleton.m4
!m4/mousepad-plugin-test.m4
missing
mousepad/mousepad
mousepad/mousepad-marshal.c
mousepad/mousepad-marshal.h
mousepad/mousepad-resources.c
po/POTFILES
po/stamp-po
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/mousepad.pot
stamp-h1
