*~
*.gschema.valid
*.la
*.lo
*.o
*.gmo
*.policy
.deps
.libs
Makefile
Makefile.in
Makefile.in.in
org.xfce.mousepad*.desktop
org.xfce.mousepad.appdata.xml
aclocal.m4
autom4te.cache/
ChangeLog
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
mousepad/mousepad
mousepad/mousepad-marshal.c
mousepad/mousepad-marshal.h
mousepad/mousepad-resources.c
po/.intltool-merge-cache*
po/POTFILES
po/stamp-it
stamp-h1
